# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables files
.env
.env.local
.env.*.local

# Ignore local development files
.vscode/
.idea/
.DS_Store

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore test directories and files
tests/
coverage/

# Ignore temporary files
tmp/
*.tmp
*.swp